<div class="main-bg">
    <div class="whole-container">
        <div class="logo">
            <img src="assets/img/logo1-doctor-sand.svg" alt="ss-logo">
        </div>
        <div class="form-container">
            <div class="top-steps">
                <div class="steps-wrap justify-content-center">
                    <span class="active text-capitalize">
                      <img src="assets/img/Icon-check-circle.svg" alt="circle">
                      Payment {{response}}
                  </span>
                </div>
            </div>
            <div class="form-wrap text-center">
                <p class="p-5">{{paymentResponse}}</p>
                <p class="p-5">
                  You wil be redirected to Doctor Sand website in {{secCount}} seconds. <a href="https://doctorsand.com">Click here</a> if you are not redirected within some time.</p>
            </div>
        </div>
    </div>
  </div>
  