<!-- auction Vertical card -->
<div class="auction-vcard-wrap">
  <div class="auction-scroll">
      <div class="auction-vcard">
          <div class="auction-img">
              <img src="{{urlService.productDocumentUrl(auctionDetail?.image)}}" alt="auction-img">
          </div>
          <div class="auction-content w-100">
              <div class="content-top">
                  <h3 class="d-flex justify-content-between align-items-baseline">
                    <div>
                      {{auctionDetail?.name}}
                    </div>
                    <div class="font-small" *ngIf="auctionDetail?.auction_number">
                      <span class=""><span class="text-secondary font-weight-light">Auction No : </span> {{auctionDetail?.auction_number ? auctionDetail?.auction_number : ''}} </span>
                      <span><span class="text-secondary font-weight-light"> Lot Size : </span> <b> {{auctionDetail?.lot_size ? auctionDetail?.lot_size : ''}} tons</b></span>
                    </div>
                    <div class="font-small" *ngIf="auctionDetail?.product_number">
                      <span class=""><span class="text-secondary font-weight-light">Product No : </span> {{auctionDetail?.product_number ? auctionDetail?.product_number : ''}} </span>
                      <span *ngIf="auctionDetail?.is_cart"><span class="text-secondary font-weight-light"> Qty : </span> <b> {{auctionDetail?.qty ? auctionDetail?.qty : ''}}</b></span>
                      <span><span class="text-secondary font-weight-light"> Truck Size : </span> <b> {{auctionDetail?.truck_size ? auctionDetail?.truck_size : ''}} tons</b></span>
                      <!-- <span *ngIf="auctionDetail?.is_cart">
                        <a href="javascript:void(0)" class="text-danger pointer" title="remove {{auctionDetail?.name}} from cart" (click)="onRemoveBtnClick(auctionDetail)">
                          <img class="remove" src="assets/img/Cross.png" alt="file">

                        </a>
                      </span> -->
                    </div>
                  </h3>
                  <div class="content-wrap justify-content-between align-items-center">
                      <div class="lft-text" [ngClass]="{'w-100': auctionDetail?.is_cart}">
                          <span>
                            {{auctionDetail?.description}}
                          </span>
                          <div class="days" *ngIf="auctionDetail?.delivery_days">
                              <span>Delivery Within : {{auctionDetail?.delivery_days}} days</span>
                              <span class="my-2 mx-4">Payment Terms : {{auctionDetail?.payment_days}} days</span>
                              <span>Security Deposit : ₹ {{auctionDetail?.security_deposit}}</span>
                          </div>
                          <div class="dyas" *ngIf="auctionDetail?.is_cart">
                            <b>
                              {{auctionDetail?.subtotal | currency:"INR"}}
                            </b>
                            <span class="text-secondary font-weight-light" *ngIf="auctionDetail?.logistic_price">(Logistic Price :
                              {{auctionDetail?.logistic_price | currency:"INR"}} included)</span>
                            <span class="float-right"><a class="textPrimary" href="javascript:void(0)" (click)="onRemoveBtnClick(auctionDetail)">Remove</a></span>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="content-btm">
                <span>Grade : <b>{{auctionDetail?.grade}} (FM {{auctionDetail?.fineness_modulus}})</b></span>
                <span>Silt : <b>{{auctionDetail?.silt ? auctionDetail?.silt + '%' : '-'}}</b></span>
                <span>Source : <b>{{auctionDetail?.source_of_sand}}</b></span>
              </div>
          </div>
      </div>

  </div>
</div>
