/* common */


.dash-head{
  margin-bottom: 11px;
  margin-top: 15px;
  font-size: 24px;
}
.aution-tab .nav-tabs{
  padding-bottom: 13px;
}
.aution-tab .nav-tabs li{
  margin-top: 17px;
}
.aution-tab .nav-tabs li a{
  color: #000;
  padding: 13px 0px;
  margin-right: 35px;
  margin-bottom: 10px;
  font-weight: 500;
  text-decoration: none;
}
.aution-tab .nav-tabs li a.active{
  border-bottom: 2px solid #0988CE;
  color: #0988CE;
}
.auction-sort{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: auto;

}
.sort-type{
  width: 190px;
}
.sort-city{
  padding: 6px;
  border: 1px solid #e4e4e4;
  margin-right: 25px;
  width: 220px;
  max-width: 100%;
  color: #8F8F8F;
  cursor: pointer;
  height: 40px;
}
.sort-city .my-ng-select{
  display: inline;
  border: 0px;
  outline: 0px;
  width: calc(100% - 40px);
  max-width: 100%;
  cursor: pointer;
  background-color: #fff;
}
.sort-city img{
  margin-right: 10px;
  margin-left: 5px;
  transform: translateY(-3px);
}


/* list table */
.list-table thead tr th {
  font-size: 0.875rem;
  font-size: 700;
  border: 0;
  background-color: #f9f9f9;
}

.list-table tbody tr td {
  font-size: 0.875rem;
  font-weight: 400;
  vertical-align: middle;
  padding: 0.75em;
  background-color: white;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.list-table tbody tr:hover td {
  background-color: #f4fbff;
}

.list-table thead tr th:first-child,
.list-table tbody tr td:first-child {
  padding-left: 1.5em;
}

.list-table thead tr th:last-child,
.list-table tbody tr td:last-child {
  padding-right: 1.5em;
}

.list-table tbody tr:first-child td {
  border-top: 0;
}

.list-table .cell-company {
  font-weight: 700;
  color: var(--primary-bg-color);
}

.list-table .cell-status span {
  background-color: #f2f2f2;
  display: inline-flex;
  border-radius: 16px;
  padding: 6px 10px;
  font-weight: 700;
  color: var(--primary-bg-color);
  font-size: 0.75rem;
}

.text-primary {
  color: #0988CE !important;
}

.p-detail, .time {
  font-size: 12px;
  color: #8F8F8F;
}

.ex-for-badge {
  color: #5F4318;
  border: 1px solid #5F4318;
  font-size: 12px;
}


/* modal header*/

.modal-header-container {
  flex: 0 0 auto;
  margin: 0;
  padding: 12px 16px;
  background-color: #f9f9f9;
}
.modal-header-container {
  align-items: center;
}

.modal-header-container .modal-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-header-container .modal-title {
  font-size: 0.875rem;
  font-weight: 400;
  color: #333951;
}
.modal-header-container .modal-subtitle {
  font-size: 0.75rem;
  color: #adadad;
}

.modal-header-container .btn-modal-close {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.modal-header-container .btn-modal-close i.icon-back {
  display: inline-flex;
  font-style: normal;
  flex: 0 0 auto;
}
