<div class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4 left-panel">
        <div class="panel-container">
          <div class="panel-header">
            <img src="assets/img/logo1-doctor-sand.svg" alt="" />
          </div>
        </div>
        <img src="assets/img/hill-design.svg" />
      </div>

      <div class="col-xs-12 col-lg-8 right-panel">
        <div class="panel-container">
          <div class="panel-header">
            <img src="assets/img/logo1-doctor-sand.svg" alt="" />
          </div>
          <div class="panel-body" *ngIf="validUser">
            <h2 class="heading">Reset password</h2>
            <p class="description">
              Please enter password to reset your password.
            </p>

            <form class="login-form" [formGroup]="form" (submit)="onResetPassSubmit()" *ngIf="form">
              <div class="input-wrap">
                <input type="text" formControlName="password" placeholder="" />
                <label class="placeholder">Password</label>
                <span
                  *ngIf="
                    form.controls.password.touched &&
                    form.controls.password.errors &&
                    form.controls.password.errors.required
                  "
                  class="input-error text-danger"
                  >This field is required</span
                >
              </div>
              <div class="input-wrap">
                <input type="text" formControlName="confirm_password" placeholder="" />
                <label class="placeholder">Confirm Password</label>
                <!-- <span
                  *ngIf="
                    form.controls.confirm_password.touched &&
                    form.controls.confirm_password.errors &&
                    form.controls.confirm_password.errors.required
                  "
                  class="input-error text-danger"
                  >This field is required</span
                > -->
                <span
                  *ngIf="
                    form.controls.confirm_password.touched &&
                    form.value.password !== form.value.confirm_password
                  "
                  class="input-error text-danger"
                  >password and confirm password are not same</span
                >
              </div>
              <button
                class="btn btn-primary btn-block"
                type="submit"
                [disabled]="!form.valid"
              >
                Reset Password
              </button>
            </form>
          </div>
          <div class="panel-body" *ngIf="!validUser">
            <h2 class="heading text-danger">Invalid Token</h2>
            <p class="description text-danger">
              User not found.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
