.panel-container {
  display: flex;
  flex-direction: column;
}

.panel-container .panel-header {
  flex: 0 0 auto;
  padding: 15px;
}

.panel-container .panel-body {
  flex: 1 1 auto;
  padding: 15px;
}

/* left panel */
.login-wrapper .left-panel {
  background-color: var(--primary-bg-color);
  position: relative;
  min-height: 140px;
}

.left-panel > img {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
}

.login-wrapper .left-panel .panel-header > img {
  max-width: 160px;
}

/* right panel */
.login-wrapper .right-panel {
  position: relative;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15px;
}

.right-panel .panel-container {
  max-width: 420px;
  width: 100%;
}

.right-panel .panel-header {
  display: none;
}

.right-panel .panel-body .heading {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: black;
}

.right-panel .panel-body .description {
  font-weight: 300;
  font-size: 0.875rem;
  margin-bottom: 0.5em;
  color: #535d79;
}

.login-form {
  margin-top: 30px;
}

.login-form .btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.login-form .btn-primary::after {
  content: "\279D";
  display: block;
  position: absolute;
  top: 50%;
  line-height: 0;
  right: 30px;
  font-size: 20px;
  color: white;
}

.login-form .input-error {
  bottom: -1.5em;
  font-size: 0.625rem;
}

/* responsive */
@media screen and (min-width: 992px) {
  .login-wrapper {
    background-color: var(--primary-bg-color);
    overflow: hidden;
  }

  .login-wrapper .left-panel,
  .login-wrapper .right-panel {
    min-height: 100vh;
    padding-top: 0;
  }

  .login-wrapper .right-panel::before {
    content: "";
    position: absolute;
    left: 98%;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
  }

  .right-panel .panel-header {
    display: flex;
    visibility: hidden;
  }
}
