

<div class="main-wrap">

  <div *ngIf="udLoading" class="loading-txt">Loading...</div>


  <div *ngIf="!udLoading" class="content-wrap">

      <div class="top-head">
          <a (click)="back2List()">Invoice (Consignment no: {{consignmentNo}})</a>

          <div>
            <button [ngClass]="{'d-none': invoiceList.length > 0}" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#invoiceModal">Generate invoice</button>
          </div>
      </div>
  </div>

  <div class="container">
    <div class="row" [formGroup]="consignmentForm" *ngIf="consignmentForm">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            Auction No.
          </div>
          <div class="col-md-8">
            <div class="input-wrap">
              <input type="text" formControlName="auction_number">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
            Order Confirmation No
          </div>
          <div class="col-md-8">
            <div class="input-wrap">
              <input type="text" formControlName="oc_number" >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
            Delivery Challan
          </div>
          <div class="col-md-8">
            <div class="input-wrap">
              <!-- <input type="file"> -->
              <a href="{{urlService.DCUrl(consignmentDetails?.dc_path, auctionDetails?.auction_number, consignmentDetails?.dc_number)}}" target="_blank" class="btn btn-sm btn-outline-primary mr-2">view file</a>
              <a href="{{urlService.DCUrl(consignmentDetails?.dc_path, auctionDetails?.auction_number, consignmentDetails?.dc_number)}}" target="_blank">{{consignmentDetails?.dc_path}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
            Total Tonnage
          </div>
          <div class="col-md-8">
            <div class="input-wrap">
              <input type="text" formControlName="tonnage">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
            Accepted Tonnage
          </div>
          <div class="col-md-8">
            <div class="input-wrap">
              <input type="text" formControlName="accepted_tonnage" (input)="onAcceptedTonnageInput()">
              <i *ngIf="consignmentForm.controls.accepted_tonnage.invalid && consignmentForm.controls.accepted_tonnage.touched && consignmentForm.controls.accepted_tonnage.errors.required"
              class="erro-red">Accepted Tonnage required</i>
              <i *ngIf="consignmentForm.controls.accepted_tonnage.valid && consignmentForm.controls.accepted_tonnage.touched && inValidAcceptedTonnage && !consignmentForm.controls.accepted_tonnage.errors"
              class="erro-red">Accepted Tonnage should be less than or equal to total tonnage</i>
              <i *ngIf="consignmentForm.controls.accepted_tonnage.invalid && consignmentForm.controls.accepted_tonnage.touched && consignmentForm.controls.accepted_tonnage.errors && !consignmentForm.controls.accepted_tonnage.errors.required &&  consignmentForm.controls.accepted_tonnage.errors.pattern"
              class="erro-red">Please enter only numeric input</i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
            Upload Accepted Delivery Challan
          </div>
          <div class="col-md-8">
            <div class="input-wrap">
              <a href="{{urlService.DCUrl(consignmentDetails?.accepted_dc_path, auctionDetails?.auction_number, consignmentDetails?.dc_number)}}" target="_blank" class="btn btn-sm btn-outline-primary mr-2">view file</a>
              <a href="{{urlService.DCUrl(consignmentDetails?.accepted_dc_path, auctionDetails?.auction_number, consignmentDetails?.dc_number)}}" target="_blank">{{consignmentDetails?.accepted_dc_path}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
            Remark
          </div>
          <div class="col-md-8">
            <div class="input-wrap">
              <input type="text" formControlName="remark">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
            Amount
          </div>
          <div class="col-md-8">
            <div class="input-wrap">
              <input type="text" formControlName="amount">
              <i *ngIf="consignmentForm.controls.amount.invalid && consignmentForm.controls.amount.touched"
              class="erro-red">Amount required</i>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div>Invoice details:</div>

    <div class="row">
      <div class="col-12 table-responsive p-0">
        <table class="list-table table">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Invoice No.</th>
                    <th>Total Amount</th>
                    <th>Seller Name</th>
                    <th>Remark</th>
                    <th>Invoice</th>
                    <th>Payment</th>
                </tr>
            </thead>

            <tbody class="text-center" *ngIf="isListLoading2">
                <tr>
                    <td colspan="6">Loading...</td>
                </tr>
            </tbody>

            <tbody class="text-center" *ngIf="!isListLoading2 && invoiceList?.length === 0">
                <tr>
                    <td colspan="6">No result found</td>
                </tr>
            </tbody>

            <tbody *ngIf="!isListLoading2 && invoiceList?.length !== 0">
                <tr *ngFor="let item of invoiceList; let i = index;">
                    <td>{{i + 1}}</td>
                    <td>{{item?.invoice_number}}</td>
                    <td>₹ {{item?.total_amount}}</td>
                    <td>{{item?.seller_name}}</td>
                    <td><a>{{item?.remarks ? item?.remarks : '-'}}</a></td>
                    <td><a href="{{urlService.ConsignmentInvoiceUrl(item?.invoice_path, auctionDetails?.auction_number, consignmentDetails?.dc_number)}}" target="_blank">Invoice.pdf</a></td>
                    <td class="action-links">
                      {{item?.status == paid ? "Paid" : "Pending" }}
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

    <div>Vehicle details:</div>

    <div class="row">
      <div class="col-12 table-responsive p-0">
        <table class="list-table table">
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Vehicle Number</th>
                    <th>Tonnage</th>
                    <th>Driver Name</th>
                    <th>Driver Number</th>
                </tr>
            </thead>

            <tbody class="text-center" *ngIf="isListLoading">
                <tr>
                    <td colspan="6">Loading...</td>
                </tr>
            </tbody>

            <tbody class="text-center" *ngIf="!isListLoading && truckList?.length === 0">
                <tr>
                    <td colspan="6">No result found</td>
                </tr>
            </tbody>

            <tbody *ngIf="!isListLoading && truckList?.length !== 0">
                <tr *ngFor="let item of truckList; let i = index;">
                    <td>{{i + 1}}</td>
                    <td>{{item.vehicle_number}}</td>
                    <td>{{item.tonnage}}</td>
                    <td>{{item.driver_name}}</td>
                    <td>{{item.driver_number}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>

</div>




<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invoiceModalLabel">Invoice</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <form [formGroup]="invoiceForm" *ngIf="invoiceForm">
          <div class="row align-items-center py-2">
            <div class="col-md-3"><span class="">Total amount</span></div>
            <div class="col-md-3">
              <div class="input-wrap m-0">
                <input type="text" formControlName="total_amount" readonly>
              </div>
            </div>
          </div>
          <div class="row align-items-center py-2">
            <div class="col-md-3"><span class="">Number of invoice</span></div>
            <div class="col-md-3">
              <div class="input-wrap m-0">
                <input type="text" formControlName="no_of_invoice" (input)="onNumberOfInvoiceInput()" readonly>
              </div>
            </div>
          </div>
          <ng-container formArrayName="invoices">
            <div *ngFor="let item of invoices.controls; index as i">
              <ng-container [formGroup]="item">
                <div class="row align-items-center py-2">
                  <div class="col-md-3"><span class="">Invoice {{i+1}} Amount</span></div>
                  <div class="col-md-3">
                    <div class="input-wrap m-0">
                      <input type="text" formControlName="amount" (input)="calcMaxAmount()" readonly>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <div>
            <i *ngIf="inValidTotalInvoiceAmount" class="erro-red">The sum of invoices should be equal to the total amount.</i>
          </div>
          <div>
            <i>Note: The sum of invoices should be equal to the total amount.</i>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="generateInvoices()" [disabled]="inValidTotalInvoiceAmount">Save changes</button>
      </div>
    </div>
  </div>
</div>


