body.modal-open {
  overflow: hidden !important;
}

app-modal {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}
/* .modal-backdrop {
  z-index: 998 !important;
} */
app-modal .modal-backdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
}

app-modal .modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: 0;
  transform: translate(0, 100px);
}

/* modal container width */
app-modal .modal-wrapper .modal-container {
  position: relative;
  margin: 32px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 16px);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

app-modal .modal-wrapper .modal-container.modal-container-xs {
  max-width: 444px;
}
app-modal .modal-wrapper .modal-container.modal-container-sm {
  max-width: 600px;
}
app-modal .modal-wrapper .modal-container.modal-container-md {
  max-width: 960px;
}
app-modal .modal-wrapper .modal-container.modal-container-lg {
  max-width: 1280px;
}
app-modal .modal-wrapper .modal-container.modal-container-xl {
  max-width: 1920px;
}
app-modal .modal-wrapper .modal-container.modal-container-fullwidth {
  width: calc(100% - 16px);
}
app-modal .modal-wrapper .modal-container.modal-container-fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  max-height: none;
  border-radius: 0;
}

/* update for aside panel */
app-modal.aside-panel > .modal-wrapper {
  justify-content: flex-end;
  margin-left: 0;
  height: 100%;
  transform: translate(110%, 0);
}

@media screen and (min-width: 992px) {
  app-modal.aside-panel > .modal-wrapper {
    margin-left: 270px;
    width: calc(100% - 270px);
  }

  app-modal.aside-panel > .modal-wrapper > .modal-container {
    border-radius: 8px 0 0 8px;
  }
}

/* on open */
app-modal.modal-open {
  visibility: visible;
}
app-modal.modal-open .modal-backdrop-root {
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
app-modal.modal-open .modal-wrapper {
  transform: translate(0, 0);
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

/* header */
app-modal-header {
  flex: 0 0 auto;
  margin: 0;
  padding: 12px 16px;
  background-color: #f9f9f9;
}
app-modal-header .modal-header-container {
  align-items: center;
}

app-modal-header .modal-header-container .modal-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

app-modal-header .modal-header-container .modal-title {
  font-size: 0.875rem;
  font-weight: 400;
  color: #333951;
}
app-modal-header .modal-header-container .modal-subtitle {
  font-size: 0.75rem;
  color: #adadad;
}

app-modal-header .modal-header-container .btn-modal-close {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

app-modal-header .modal-header-container .btn-modal-close i.icon-back {
  display: inline-flex;
  font-style: normal;
  flex: 0 0 auto;
}

i.icon-back::before {
  content: "\279E";
  transform: rotate(180deg);
  font-size: 1.125rem;
  line-height: 1em;
  color: #0988ce;
}

/* app modal body */
app-modal-body {
  flex: 1 1 auto;
  padding: 8px 16px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-bottom: 1px solid #cfdbe3;
}

/* footer */
app-dialog-footer {
  flex: 0 0 auto;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: flex-end;
}

app-dialog-footer .dialog-footer-container {
  /* @extend %space-wrapper; */
}
