.payment-tbl{
  width: 100%;
  border: 1px solid #E7E7E7;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.payment-tbl tr td{
  border: 1px solid #E7E7E7;
  padding: 8px 10px;
}
.payment-tbl tr td:first-child{
  width: 230px;
  background-color: #fbfbfb;
  vertical-align: top;
}
.payment-tbl tr th{
  background-color: #fbfbfb;
  border: 1px solid #E7E7E7;
  padding: 8px 10px;
}
